/* ICON SIDEBAR */
.icon-sidebar {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* BASE ICON STYLE */
.icon-base {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  background: transparent;
}

/* Sizes */
.icon-button {
  width: 60px;
}


.admin-icon-button {
  position: fixed;
  top: 70px;
  right: 20px;
  width: 60px;
}

.token-icon-button {
  position: fixed;
  top: 150px;
  right: 25px;
  width: 40px;
}

.contact-icon-button {
  position: fixed;
  bottom: 70px;
  right: 25px;
  width: 40px;
}

/* Shared icon content */
.icon-base img {
  width: 50px;
}

.icon-base span {
  font-size: 12px;
  color: black;
}

/* Hover */
.icon-base:hover {
  scale: 1.1;
}

/*FOLDER SYSTEM */
.folder-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 15px;
  align-items: flex-start;
}

.folder-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;

  padding: 4px;
  text-align: center;
  color: black;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
}

.folder-item img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.folder-item:hover {
  scale: 1.1;
}

/* Info */
.portfolio-info {
  position: absolute;
  top: 24%;
  left: 20px;
  transform: translateY(-50%);
  display: flex;

  font-size: clamp(1rem, 1.5vw, 3rem); 
  font-family: var(--font-pixelify);
}

/* ANIMATIONS */
.icon-base,
.portfolio-info {
  animation: fadeIn 0.5s ease-in-out;
  animation-delay: 1.5s;
  animation-fill-mode: backwards;
}