@import "tailwindcss";

/* BACKGROUND */
.hero-container {
  height: 100vh;
  width: 100%;

  background-image: url('/windows_logo.png');
  background-size: 250px ;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
}

