@import "tailwindcss";

@layer components {
  .btn-link {
    @apply 
      flex
      font-medium
      text-base
      sm:text-lg
      text-stone-500
      px-2
      sm:px-3
      transition-colors
      duration-500
      hover:text-gray-400
      hover:opacity-80
  }
}