@import "tailwindcss";

/* Gold Css components */
/* gold ball */
.gold-ball {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: radial-gradient(circle at 30% 30%, #fef08a, #eab308, #854d0e);
  box-shadow: 0 0 5px rgba(234, 179, 8, 0.5);
  display: inline-block;
  flex-shrink: 0;
}

/* The Shiny Metallic Line */
.gold-line {
  height: 4px;
  flex-grow: 1;
  border-radius: 2px;
  background: linear-gradient(
    to bottom,
    #a16207 0%,    
    #facc15 50%,  
    #fef08a 80%,  
    #a16207 100%   
  );
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3);
}

/* golde border */
.gold-border-bottom {
  position: relative;
}

.gold-border-bottom::after {
  content: '';
  position: absolute;
  bottom: -2px; 
  left: 0;
  width: 100%;
  height: 2px; 
  background: linear-gradient(
    90deg, 
    #a16207 0%, 
    #fef08a 50%, 
    #facc15 80%, 
    #a16207 100%
  );
  border-radius: 2px;
}
