@import "./../index.css";
@import "tailwindcss";

@layer components {
.hero-image {
  @apply
    fixed
    bottom-0
    left-[30%]
    -translate-x-1/2
    w-[120%]      
    sm:w-full     
    md:w-[90%]    
    lg:w-[60%]    
    l:w-[80%]     
    xl:w-[80%]    
    object-contain
    pointer-events-none
    select-none;
  }
}