@import "tailwindcss";

@keyframes infiniteScroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-infiniteScroll {
  animation: infiniteScroll 20s linear infinite;
}