@import "tailwindcss";

@theme {

  --animate-slide-In-Up: slideInUp 1s ease-in-out forwards;
  --animate-slide-In-Up-Slow: slideInUpSlow 2.5s ease-in-out forwards;
  --animate-slide-In-Down: slideInDown 1s ease-in-out forwards;

  --animate-slide-Out-Down: slideOutDown 1s ease-in-out forwards;
  --animate-slide-Out-Up: slideOutUp 1s ease-in-out forwards;

  --animate-slide-In-Right: slideInRight 1s ease-in-out forwards;
  --animate-slide-In-Left: slideInLeft 1s ease-in-out forwards;
}

/* Slide In Up */
@keyframes slideInUp {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Slide In Up Slow */
@keyframes slideInUpSlow {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Slide In Down */
@keyframes slideInDown {
  0% {
    transform: translateY(-20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Slide Out Down */
@keyframes slideOutDown {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(7%);
    opacity: 0;
  }
}

/* Slide Out Up */
@keyframes slideOutUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-2%);
    opacity: 0;
  }
}

/* Slide In Right */
@keyframes slideInRight {
  0% {
    transform: translateX(-4%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Slide In Left */
@keyframes slideInLeft {
  0% {
    transform: translateX(4%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}